/* Dark Theme Styling */
.course-section {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
  font-family: "Arial", sans-serif;
  background-color: #1a1a1a;
  color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.course-header h1 {
  font-size: 2.8rem;
  color: #fff;
  margin-bottom: 10px;
}

.course-header p {
  font-size: 1.2rem;
  color: #ccc;
  line-height: 1.6;
}

.course-header .course-banner {
  margin-bottom: 30px;
}

.course-header .course-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.course-details,
.class-arrangement,
.pricing-section,
.cta-section {
  margin-top: 30px;
  padding: 25px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2rem;
  color: #0056b3; /* Changed to blue */
  margin-bottom: 15px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #ddd;
  font-size: 1rem;
  line-height: 1.8;
}

ul li {
  margin-bottom: 10px;
}

.class-options {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.option {
  background-color: #444;
  padding: 15px;
  border-radius: 8px;
  flex: 1;
  text-align: center;
  transition: transform 0.3s ease;
}

.option:hover {
  transform: translateY(-10px);
}

.pricing-plans {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.plan {
  background-color: #444;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 30%;
  transition: transform 0.3s ease;
}

.plan:hover {
  transform: translateY(-10px);
}

.plan h3 {
  font-size: 1.5rem;
  color: #0056b3; /* Changed to blue */
  margin-bottom: 10px;
}

.plan p {
  color: #ddd;
}

.cta-button {
  padding: 15px 30px;
  background-color: #0056b3; /* Changed to blue */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #004494;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .pricing-plans {
    flex-direction: column;
    align-items: center;
  }

  .plan {
    width: 80%;
    margin-bottom: 20px;
  }

  .cta-button {
    width: 100%;
    text-align: center;
  }
}

.back-to-home {
  position: absolute;
  top: 5vh;
  left: 2.5vw;
  font-size: 1.25rem;
}

.back-link {
  color: #007bff;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
  color: #f0f0f0;
}
