.header-img img {
  max-width: 100%; /* Responsive image */
  height: auto; /* Maintain aspect ratio */
}

.common-title {
  font-size: 2.5rem; /* Adjust asx needed */
}

.common-subtitle {
  font-size: 1.5rem; /* Adjust as needed */
}
